$appBarHeight: 48px;

.App {
	&__bar {
		height: $appBarHeight;
		&-content {
			line-height: $appBarHeight;
		}
	}

	&__body {
		margin-top: $appBarHeight;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
}
